[submodule "2A/MA201/MA201_project"]
	path = 2A/MA201/MA201_project
	url = https://github.com/tr0fin0/ensta_MA201_project.git
[submodule "2A/OS202/OS202_exam"]
	path = 2A/OS202/OS202_exam
	url = https://github.com/tr0fin0/ensta_OS202_exam.git
[submodule "2A/OS202/OS202_project"]
	path = 2A/OS202/OS202_project
	url = https://github.com/tr0fin0/ensta_OS202_project.git
[submodule "2A/ROB201/ROB201_project"]
	path = 2A/ROB201/ROB201_project
	url = https://github.com/tr0fin0/ensta_ROB201_project.git
[submodule "3A/CSC_5RO06_TA/CSC_5RO06_TA"]
	path = 3A/CSC_5RO06_TA
	url = https://github.com/tr0fin0/ensta_CSC_5RO06_TA_project.git
[submodule "3A/CSC_5RO17_TA/CSC_5RO17_TA_TP1"]
	path = 3A/CSC_5RO17_TA/CSC_5RO17_TA_TP1
	url = https://github.com/tr0fin0/ensta_CSC_5RO17_TA_TP1.git
[submodule "tpack"]
	path = tpack
	url = https://github.com/tr0fin0/tpack.git
[submodule "3A/CSC_5RO17_TA/CSC_5RO17_TA_TP4"]
	path = 3A/CSC_5RO17_TA/CSC_5RO17_TA_TP4
	url = https://github.com/tr0fin0/ensta_CSC_5RO17_TA_TP4.git
[submodule "3A/CSC_5RO07_TA"]
	path = 3A/CSC_5RO07_TA
	url = git@github.com:tr0fin0/ensta_CSC_5RO07_TA_project.git
[submodule "3A/CSC_5RO11_TA"]
	path = 3A/CSC_5RO11_TA
	url = https://github.com/tr0fin0/ensta_CSC_5RO11_TA.git
[submodule "3A/CSC_52081_EP/CSC_52081_EP_project"]
	path = 3A/CSC_52081_EP/CSC_52081_EP_project
	url = https://github.com/tr0fin0/ensta_CSC_52081_EP_project.git
[submodule "3A/CSC_5RO08_TA/CSC_5RO08_TA_project"]
	path = 3A/CSC_5RO08_TA/CSC_5RO08_TA_project
	url = https://github.com/tr0fin0/ensta_CSC_5RO08_TA_project.git
