*.docx
*.docx#
*.json
*.synctex.gz
*.png
*.jpg
*.zip
*.x.gnuplot
*/__pycache__
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.mat
*.xml
*.qpf
*.qsf
*.qws
*.cmp.*
*.map.*
*.flow.*
*.sci
*.db_info
*.pdf
*.slx
*.slxc
*.ai
tblank.*
*.tar.gz
*.tar
*.exe